.paragraph--type--layout {
  margin: 0;
}

.layout--inner {
  @include wrapper;
}

.layout--full-width-background {
  width: 100vw;
  padding: 20px 0 20px 0;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.erl-field .layout--full-width-background {
  width: 100%;
  padding: 0;
  left: auto;
  right: auto;
  margin-left: auto;
  margin-right: auto;
}

.layout--large-spacing {
  padding: 6rem 0;
}

.paragraph--type--layout {
  > .bg-white {
    background-color: white;
  }
  > .bg-gray {
    background-color: $near-white;
  }
  > .bg-black {
    background-color: $black;
  }
  > .bg-brand {
    background: rgb(53,0,89);
    background: linear-gradient(90deg, rgba(53,0,89,1) 0%, rgba(98,9,171,1) 40%, rgba(135,9,124,1) 100%);
  }
}