.block-language {
  align-self: flex-start;
  padding: 1rem 2rem;
  @include medium {
    align-self: center;
    padding: 0;
  }
  ul.links {
    margin: 0 1rem 0 0;
    padding: 0;
    text-align: right;
    li {
      list-style: none;
      display: inline-block;
      vertical-align: middle;
      margin: 0 0.3em;
      a {
        display: inline-block;
        font-size: 16px;
        line-height: 30px;
        color: #eee;
        font-family: $font-narrow;
        text-decoration: none;
        &.is-active {
          color: #019652;
        }
      }
    }
  }
}
