{#
/**
 * @file
 * Default theme implementation to display a two-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'layout',
  'layout--grid-wrapper',
]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="layout--inner">
      {% if content.main %}
        <div {{ region_attributes.main.addClass('layout__region', 'layout__region--main') }}>
          {{ content.main }}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
