.header {
  margin-bottom: 4em;
  background-color: $header-bg;
  &__inner {
    @include wrapper;

    display: flex;
    flex-flow: column nowrap;
    position: relative;
  }

  &__primary {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: $space 0;
  }

  &__branding {
    margin-right: $space;
    max-width: 300px;
  }
}
.header__menu {
  display: flex;
  flex: 1;
  nav {
    flex: 1;
    align-self: center;
  }
}